@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.splash-screen-wrapper { 
    width: 100vw;
    height: 100vh;
    background-color: #723F78;
    color: #FBFAF8;
    font-family: 'Press Start 2P', cursive;

    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-screen {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;

    animation-name: slideout;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-iteration-count: 1;
}

.earthSplash {
    margin: 15% 0;
    animation-name: rotation;
<<<<<<< HEAD
    animation-duration: 8s;
=======
    animation-duration: 9s;
>>>>>>> 8ddb54646693b656dcd45a771bd81caf2c7fd2ce
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.topText {
    opacity: 0;
    animation: fadeIn linear 3s;
    animation-fill-mode: forwards;
}

.bottomText {
    opacity: 0;
    animation: fadeIn linear 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes slideout {
    5% {color: #723F78;}  // clear text

    100% {
        transform: translate(-40vw, calc(130px - 50vh)) scale(0.2);
        color: #723F78;
    }
  }
  
@keyframes rotation {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(359deg)}
}

@keyframes fadeIn {
    0% {opacity:0}
    100% {opacity:1}
}
