@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.nav-and-logo-container {  // for future navbar
    position: sticky;
    top: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    animation: fadein 2s;
}

.home-page {
    color: #FBFAF8;
    font-family: 'Press Start 2P', cursive;
}

section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

.first-section {
    background-color: #723F78;
}

.last-section {
    background-color: #FC7536;
}

.section-title {
    padding-top: 110px;
    font-size: 1.5rem;
    animation: fadein 2s;
}

.earth-icon {
    position: absolute;
    left: calc(50vw - 113px);
    top: calc(50vh - 113px);

    animation-name: rotatingicon;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes rotatingicon {
    0% {transform: translate(-40vw, calc(130px - 50vh)) scale(0.2) rotate(0deg)}
    100% {transform: translate(-40vw, calc(130px - 50vh)) scale(0.2) rotate(359deg)}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.section-subtitle {
    margin-top: 15px;
    font-size: 0.75rem;
    animation: fadein 2s;
}

.scroll-down-wrapper {
    opacity: 0;
    animation: fadein 2s 2s forwards;
    margin-bottom: 15px;
    color: #FC7536;
}
