.not-found-div {
    background-color: #644679;
    height: 100vh;
    a {
        padding: 6px 18px;
        background-color: #1fac29;
        border-radius: 5px;
        text-decoration: none;
        color: #402343;
    }
}