$theme-purple-1: #402343;
$theme-purple-2: #644679;
$theme-green-1: #1FAC29;

.mobile-navbar {
    padding: 1em;
    background-color: $theme-purple-1;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom-left-radius: 6px;
    border: 0;
    transition: opacity 0.2s;

    &.open {
        & > * {
            margin-bottom: 1.5em;
        }
        opacity: 1;
        .nav-list {
            visibility: visible;
            width: 200px;
            li {
                width: 100%;
                font-size: 18px;
            }
        }
    }

    &.closed {
        opacity: 0.7;
        .nav-list {
            margin: 0;
            width: 0;
            visibility: hidden;
            opacity: 0;
            height: 0;
            .nav-button {
                border: 0;
            }
            .planet-icon {
                visibility: hidden;
            }
        }
    }
    
    .hamburger-button {
        width: 44px;
        background-color: $theme-purple-2;
    }
    
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        transition: opacity 0.5s;
    
        & > * {
            margin-bottom: 1em;
            transition: border 0.05s;
        }
        
        & > :last-child {
            margin-bottom: 0;
        }
    }
    
.desktop-navbar, .mobile-navbar {
    .planet-icon {
        margin-left: 0.4em;
        width: 25px;
    }

    .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        color: white;
        border: 2px solid white;
        border-radius: 6px;
        background-color: transparent;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
            border: 2px solid $theme-green-1;
            background-color: $theme-purple-2;
        }
    }
}

.desktop-navbar {
    display: none;
}

//TODO Review
.open {
    border: 2px solid white;
    border-top: none;
    border-right: none;
    opacity: 1;
    .nav-list {
        margin-bottom: 14px;
    }
    .nav-list li {
        width: 204px;
        margin: 12px;
        font-size: 18px;
    }
}

//TODO Review
.closed .nav-list li {
    height: 0;
    opacity: 0;
}

.nav-and-logo-container {
    display: flex;
    background-color: $theme-purple-1;
}

@media (min-width: 770px) {
    .mobile-navbar {
        display: none;
    }

    .desktop-navbar {
        display: inline-flex;
        background-color: $theme-purple-1;
        width: 100%;
        align-items: center;
    }

    .nav-and-logo-container {
        background-color: transparent;
    }

    .nav-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-bottom: 12px;
        li {
            transition: all 0.5s;
            margin: 8px 10px;
            max-width: 204px;
            width: auto;
            a {
                padding: 5px 25px;
            }
        }
    }
}