$theme-purple-1: #402343;
$theme-purple-2: #644679;
$theme-green-1: #1fac29;

$mobile-navbar-height: 5em;
$desktop-navbar-min-height: 5em;

.nav-and-logo-container {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: $theme-purple-1;
  padding: 0.6em;
  border-bottom: white solid 1px;
  .logo-img {
    height: $mobile-navbar-height;
  }
  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      border: 2px solid $theme-green-1;
      background-color: $theme-purple-2;
    }
  }
}

.mobile-navbar {
  position: absolute;
  padding: 1em;
  background-color: $theme-purple-1;
  top: $mobile-navbar-height + 1.22em; // This extra 1.22em allows for padding (1.2em) and borders (0.2em) of the nav-and-logo-container
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom-left-radius: 6px;
  border: 1px solid white;
  border-right: none;
  transition: opacity 0.5s;
  .nav-list {
    visibility: visible;
    width: 200px;
    font-size: 18px;
  }
  &.open {
    & > * {
      margin-bottom: 1.5em;
    }
    .nav-list {
      visibility: visible;
      li {
        width: 100%;
      }
    }
  }
  &.closed {
    visibility: hidden;
    opacity: 0;
    top: -500px;
  }
  .nav-list {
    padding: 0;
    margin: 0;
    flex-direction: column;
    transition: opacity 0.5s;
    & > * {
      margin-bottom: 1em;
      transition: border 0.05s;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}

.hamburger-button {
  height: 44px;
  width: 44px;
  background-color: $theme-purple-2;
  z-index: 500;
}

.desktop-navbar,
.mobile-navbar {
  .planet-icon {
    margin-left: 0.4em;
    width: 25px;
  }

  .nav-list {
    display: flex;
    list-style: none;
  }
}

.desktop-navbar {
  display: none;
  position: sticky;
  top: 0;
}

@media (min-width: 770px) {
  .nav-and-logo-container {
    .mobile-navbar {
      display: none;
    }
    .logo-img {
      height: $desktop-navbar-min-height;
    }
    .hamburger-button {
      display: none;
    }
    .desktop-navbar {
      display: inline-flex;
      background-color: $theme-purple-1;
      width: 100%;
      min-height: $desktop-navbar-min-height;
      align-items: center;
      .nav-list {
        flex-direction: row;
      }
    }
    .nav-list {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin-bottom: 12px;
      li {
        transition: all 0.5s;
        margin: 0.6em 0.8em;
        max-width: 204px;
        width: auto;
        a {
          padding: 0.5em 1.5em;
        }
      }
    }
  }
}
